@keyframes swing-in-top-fwd {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}

@keyframes blur {
  0% {
    filter: blur(40px);
  }
  100% {
    filter: blur(0px);
  }
}